@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* font-family: 'DM Serif Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* font-family: 'Koulen', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Hanken Grotesk', sans-serif; */

* {
    font-family: 'Poppins', sans-serif;
}

*:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.mt-auth-auto {
    margin-top: auto;
}

@media (max-height: 720px) {
    .mt-auth-auto {
        margin-top: 5rem;
    }
}

.btn-orange {
    text-decoration: none;
    text-align: center;

    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    border-radius: 10px;
    padding: .75rem 1rem;
    color: #FFF;
    border: none;
}

.apps-container {
    margin: auto;

    height: 100%;
    min-height: 100vh;
}

.apps-container.auth {
    background: linear-gradient(90deg, #00040B 0%, #1A1B1C 100%);
}

.apps-container.member {
    background: #181A1C;
}

.apps {
    min-height: 100vh;
    height: 100%;
}

.apps-auth {
    max-width: 768px;
    margin: 0 auto;
}

.apps-topbar .apps-auth {
    margin: auto;
    padding: 1rem;
}

.apps-topbar .apps-auth a img {
    height: 50px;
}

.apps-topbar .apps-auth .link-back a img {
    height: 35px;
}

.apps-topbar .apps-auth .logo-top {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.apps-topbar .apps-auth .logo-top img {
    height: 100px;
}

.apps-topbar .apps-auth .logo-top span.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.mode-apps {
    width: auto;
    height: 60px;
    padding: 5px;
}

.mode-apps {
    background: url(../img/sky-dark.png);
    background-size: 100% 100%;
    background-position: bottom center;
}

.apps-topbar .apps-auth .mode-apps input {
    width: 125px;
    height: 50px;
    border-radius: 100px;
    border: none;
    margin: 0;
    padding: 0;

    background-color: transparent !important;
    background: url(../img/moon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
}

.apps-topbar .apps-auth .mode-apps input:checked {
    background: url(../img/sun.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
}

.apps-container.auth .apps-body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.apps-container.auth .apps-body.mh-null {
    min-height: auto;
}


.apps-container.auth .apps-body.min-100vh {
    min-height: 100vh;
}

.apps-container.auth .apps-body .bg-cricle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 768px;
    z-index: 1;
}

.apps-container.auth .apps-body .bg-cricle-bot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    z-index: 1;
}

.apps-container.auth .apps-body .apps-auth {
    z-index: 2;
    margin-bottom: 5rem;
}

.apps-container.auth .apps-body .apps-auth .logo {
    text-align: center;
}

.apps-container.auth .apps-body .apps-auth .logo img {
    height: 100px;
}

.apps-container.auth .apps-body .apps-auth .logo span {
    display: block;
    font-weight: 600;
    font-size: 14px;

    color: #F83B00;
    margin-top: 1rem;
}

.apps-container.auth .apps-body .apps-auth .logo h3 {
    font-weight: 500;
    font-size: 27px;

    color: #F83B00;
    margin-bottom: 0;
}

.apps-container.auth .apps-body .apps-auth .notif-success {
    padding: 2rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.apps-container.auth .apps-body .apps-auth .notif-success img {
    position: relative;
    height: 150px;
    z-index: 1;
}

.apps-container.auth .apps-body .apps-auth .notif-success .img-notif {
    position: relative;
    height: auto;
}

.apps-container.auth .apps-body .apps-auth .notif-success span.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    padding: 1rem;

    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    border-bottom: 1px solid #FFDDBD;
}

.apps-container.auth .apps-body .apps-auth .notif-success .img-notif .blur {
    position: absolute;
    height: 250px;
    width: 100%;
    background: rgba(247, 118, 46, 0.54);
    filter: blur(65px);
    border-radius: 231.5px;
}

.apps-container.auth .apps-body .apps-auth .notif-success .message {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* or 89% */

    text-align: center;
    margin: 2rem 0;
    padding: 1rem 2rem;
}

.apps-container.auth .apps-body .apps-auth .notif-success .message.bg-message {
    background: #F65E2E;
    border-radius: 15px;
}

.apps-container.auth .apps-body .apps-auth .notif-success .message p {
    color: #000000;
    margin: 0;
}

.apps-container.auth .apps-body .apps-auth .logo p.info {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: start;

    color: #FFFFFF;
}

.apps-container.auth .apps-body .apps-auth .apps-list-btn a,
.apps-container.auth .apps-body .apps-auth .apps-list-btn button {
    margin: .5rem 0;
    padding: .65rem 3rem;
    text-decoration: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    box-shadow: 0px 4px 7px rgba(69, 146, 218, 0.25);
    border: 2px solid #F83B00;
    background: transparent;
    color: #F83B00;
}

.apps-container.auth .apps-body .apps-auth .apps-list-btn a.btn-ciak-o,
.apps-container.auth .apps-body .apps-auth .apps-list-btn button.btn-ciak-o {
    color: #FFF;
    border: 2px solid #F83B00;
    background: #F83B00;
}

.apps-container.auth .apps-body .apps-auth .apps-list-btn a.btn-ciak-o.bg-gardien,
.apps-container.auth .apps-body .apps-auth .apps-list-btn button.btn-ciak-o.bg-gardien {
    color: #000;
    border: none;
    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
}

.apps-container.auth .apps-body .apps-auth .form-login label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.apps-container.auth .apps-body .apps-auth .form-login input {
    background: rgba(255, 255, 255, 0.56);
}

.apps-container.auth .apps-body .apps-auth .form-login input,
.apps-container.auth .apps-body .apps-auth .form-login input:focus {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    border: none;

    color: #FFFFFF;
}

.apps-container.auth .apps-body .apps-auth .form-login input::placeholder {
    color: #595959;
}

.apps-container.auth .apps-body .apps-auth .form-login input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.apps-container.auth .apps-body .apps-auth .form-login .foget-pass a {
    text-decoration: none;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #FFF;
}

.apps-container.auth .apps-body .apps-auth .form-login .noted-info span {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
}

.apps-container.auth .apps-body .apps-auth .form-login .noted-info span a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F83B00;
}

.apps-container.auth .apps-body .apps-auth .formbox-grey {
    background: linear-gradient(116.41deg, rgba(255, 255, 255, 0.44) -0.2%, rgba(255, 255, 255, 0) 122.69%);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.apps-container.auth .apps-body .apps-auth .formbox-grey label {
    color: #000;
}

.apps-container.auth .apps-body .apps-auth .form-icon-left {
    padding: .5rem .5rem;
    background: #000000;
}

.apps-container.auth .apps-body .apps-auth .form-icon-left span,
.apps-container.auth .apps-body .apps-auth .form-icon-left input {
    background-color: transparent !important;
    border: none;
    color: #BABABA;
}

.apps-container.auth .apps-body .apps-auth .form-icon-left span svg {
    height: 20px;
    fill: #BABABA;
}

.apps-container.auth .apps-body .apps-auth .copyright-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.apps-container.auth .apps-body .apps-auth .copyright-form span.powered {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;

    color: #FFFFFF;
}

.apps-container.auth .apps-body .apps-auth .copyright-form img.mif {
    height: 35px;
}

.apps-container.auth .apps-body .apps-auth .copyright-form span.mif {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    color: #FDC80B;
}

.apps-container.auth .apps-body .apps-auth .form-login .agree label {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;

    color: #FFFFFF;
}

.apps-container.auth .apps-body .apps-auth .form-login .agree input {
    background-color: rgba(255, 255, 255, 0.8);
    /* background: url(../img/moon.png); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
}


.apps-container.auth .apps-body .apps-auth .form-login .agree input:checked {
    background-color: #F83B00;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
}

/* Member */
.min100vh {
    min-height: 100vh;
}

.apps-container.member .apps-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.apps-container.member .apps-body.ptop {
    padding-top: 6rem;
}

.apps-container.member .apps-body.pbot {
    padding-bottom: 7.5rem;
}

.apps-container.h100vh {
    min-height: 100vh;
}

.apps-container.h90vh {
    min-height: 90vh;
}

.apps-member {
    max-width: 768px;
    margin: 0 auto;
}

/* Bot Bar */
.apps-botbar .apps-member {
    margin: auto;
    padding: 1rem;
    background: #000000;
    box-shadow: inset 0px 1px 0px #323436;
}

.apps-botbar .apps-member .icon-svg {
    height: 45px;
    width: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.apps-botbar .apps-member .icon-svg svg {
    height: 25px !important;
    width: 25px !important;
}

.apps-botbar .apps-member .icon-svg.fill svg {
    fill: rgba(255, 255, 255, 0.5);
}

.apps-botbar .apps-member .icon-svg.stroke svg {
    stroke: rgba(255, 255, 255, 0.5);
}

.apps-botbar .apps-member .icon-svg.fill.active svg {
    fill: rgba(255, 255, 255, 1);
}

.apps-botbar .apps-member .icon-svg.stroke.active svg {
    stroke: rgba(255, 255, 255, 1);
}

.apps-botbar .apps-member .icon-svg.plus {
    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
}

.apps-botbar .apps-member .icon-svg.plus.stroke svg {
    stroke: #FFF;
}


/* Top Bar */

.apps-topbar.alerts {
    background: #181A1C;
}

.apps-topbar .apps-member {
    margin: auto;
    padding: 1rem 0;
}

.apps-topbar .apps-member .search {
    background: #323436;
    border-radius: 32px;
    padding: .15rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.apps-topbar .apps-member .search input,
.apps-topbar .apps-member .search a,
.apps-topbar .apps-member .search button {
    color: #727477;
    background-color: transparent;
    border: none;
    margin: 0 .25rem;
    text-decoration: none;
}

.apps-topbar .apps-member .tools-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.apps-topbar .apps-member .tools-bar a {
    width: 35px;
    height: 35px;

    margin: auto .25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.apps-topbar .apps-member .tools-bar a.add-border {
    border: 1px solid #727477;
}

.apps-topbar .apps-member .tools-bar a i {
    position: relative;
}

.apps-topbar .apps-member .tools-bar a i .buble-red {
    position: absolute;
    top: 1px;
    right: -1px;

    width: 7.5px;
    height: 7.5px;

    background: #F72E8E;
    border: 1.2px solid #FFF;
}

.apps-topbar .apps-member .title span {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;

    color: #fff;
}

.apps-topbar .apps-member .action a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;

    color: #F72E8E;
}

.apps-topbar .apps-member .alert-notif {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.apps-topbar .apps-member .action-icon {
    position: absolute;
    left: 1.5rem;
}

.apps-topbar .apps-member .action-icon a {
    height: 35px;
    width: 35px;

    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;

    color: #FFFFFF;
}

.apps-topbar .apps-member .action-icon.fa a {
    border: 1px solid #323436;
    border-radius: 30px;

    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps-container.member .apps-body .apps-adive {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    overflow-y: hidden;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.apps-container.member .apps-body .apps-adive::-webkit-scrollbar {
    display: none;
}

.apps-container.member .apps-body .apps-adive .somebody {
    position: relative;
    height: 111px;
    min-width: 95px;
    width: 95px;
    margin-right: 1rem;

    display: grid;
    align-items: flex-end;

    background: #F83B00;
    padding: 3px;
    border-radius: 16px;

}

.apps-container.member .apps-body .apps-adive .somebody img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-right: 1rem;
    border-radius: 16px;
}

.apps-container.member .apps-body .apps-adive .somebody img.border-status {
    padding: 1px;
}

.apps-container.member .apps-body .apps-adive .somebody .action {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 .5rem;
}

.apps-container.member .apps-body .apps-adive .somebody .action .action-btn {
    display: block;
    padding: .25rem .75rem;
    margin: .5rem auto;
    text-align: center;

    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    border-radius: 5px;
    border: none;

    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;

    color: #FFFFFF;
}

.apps-container.member .apps-body .apps-adive .somebody .action .action-btn.active {
    background: #323436;
}

.apps-container.member .apps-body .btn-hide {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: .5rem 0;

    color: #FFFFFF;
}

.apps-member .post-member {
    border-top: 1px solid #323436;
    padding: 1rem 1rem;
}

.apps-member .posts-member .post-member {
    display: flex;
    flex-direction: column;
}

.apps-member .posts-member .post-member .post-header .post-profile img.picture {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.apps-member .posts-member .post-member .post-header .post-profile span.name {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF
}

.apps-member .posts-member .post-member .post-header .post-profile span.time {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #727477;
}

.apps-member .posts-member .post-member .post-header .action a.icon {
    position: relative;

    width: 35px;
    height: 35px;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #727477;
    margin: .5rem;
}

.apps-member .posts-member .post-member .post-header .action a.color-bp {
    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apps-member .posts-member .post-member .post-header .action a.color-bp.dollar {
    width: 25px;
    height: 25px;
    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    font-size: 14px;
}

.apps-member .posts-member .post-member .post-header .action a.color-bp.dollar i {
    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 25px;
    height: 25px;

    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.apps-member .posts-member .post-member .post-header .action a.color-bp.dollar .bg-white-dollar {
    background-color: #181A1C;

    position: absolute;

    width: 20px;
    height: 20px;
}

.apps-member .posts-member .post-member .post-header .action a.icon.ellipsis {
    justify-content: end;
    width: auto;
}

.apps-member .posts-member .post-member .post-body .text,
.apps-member .posts-member .post-member .post-body .img,
.apps-member .posts-member .post-member .post-body .imgs {
    padding-bottom: 24px;
}

.apps-member .posts-member .post-member .post-body .text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 0;

    color: #FFFFFF;
}

.apps-member .posts-member .post-member .post-body .text a.readmore {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    display: inline-block;
    margin: .25rem 0 .5rem 0;
    font-style: italic;
    text-decoration: none;

    color: #727477;
}

.apps-member .posts-member .post-member .post-body .img .image-post {
    width: 100%;
    height: auto;
    max-height: 180px;
    max-width: 327px;
    object-fit: cover;
}

.apps-member .posts-member .post-member .post-body .imgs {
    width: 100%;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    scrollbar-width: none;
}

.apps-member .posts-member .post-member .post-body .imgs::-webkit-scrollbar {
    display: none;
}

.apps-member .posts-member .post-member .post-body .imgs .images-post {
    width: 327px;
    min-width: 327px;
    height: 180px;
    min-height: 180px;
    object-fit: cover;
    margin-right: 1rem;
}

.apps-member .posts-member .post-member .post-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.apps-member .posts-member .post-member .post-footer .like,
.apps-member .posts-member .post-member .post-footer .rate-start,
.apps-member .posts-member .post-member .post-footer .action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.apps-member .posts-member .post-member .post-footer .like {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #FFFFFF;
}

.apps-member .posts-member .post-member .post-footer .like .heart,
.apps-member .posts-member .post-member .post-footer .like span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps-member .posts-member .post-member .post-footer .like .heart {
    text-decoration: none;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 14px;

    border: none;
    background: none;
}

.apps-member .posts-member .post-member .post-footer .like .heart:hover,
.apps-member .posts-member .post-member .post-footer .like .heart.checked i,
.apps-member .posts-member .post-member .post-footer .like .heart:hover i {
    color: #EB0909;
    font-weight: 900 !important;
}

.apps-member .posts-member .post-member .post-footer .rate-start .star {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;

    border: none;
    background: none;
    padding: 0;
}

.apps-member .posts-member .post-member .post-footer .rate-start .star.checked {
    color: #FDC80B;
}

.apps-member .posts-member .post-member .post-footer .rate-start:hover .star {
    color: #FDC80B;
}

.apps-member .posts-member .post-member .post-footer .rate-start .star:hover~.star {
    color: #FFFFFF;
}

.apps-member .posts-member .post-member .post-footer .action .icon {
    margin-left: .5rem;
}

.apps-member .posts-member .post-member .post-footer .action .icon,
.apps-member .posts-member .post-member .post-footer .action .icon.svg svg {
    height: 20px;
    width: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #181A1C;
    font-size: 16px;
}

.apps-member .posts-member .post-member .post-footer .action .icon.svg.share svg {
    stroke: #FFFFFF;
}

.apps-member .posts-member .post-member .post-footer .action .icon.svg.vs,
.apps-member .posts-member .post-member .post-footer .action .icon.svg.vs svg {
    height: 25px;
    width: 25px;
    fill: #FFFFFF;
}

.apps-member .posts-member .post-member .post-footer .action .icon.bookmark {
    color: #FFFFFF;
}

.apps-member .posts-member .post-member .post-footer .action .icon.bookmark:hover,
.apps-member .posts-member .post-member .post-footer .action .icon.bookmark.checked i,
.apps-member .posts-member .post-member .post-footer .action .icon.bookmark:hover i {
    background: -webkit-linear-gradient(90deg, #0085FF 8.46%, #FF00F5 97.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900 !important;
}

.popup-bottom {
    height: auto !important;
    width: 100%;
    max-width: 768px;
    margin: auto;
}

.popup-bottom .bg-input {
    background: linear-gradient(90deg, #0085FF 8.46%, #FF00F5 97.98%);
    padding: 2px;
    display: inline-block;
}

.popup-bottom .bg-input input {
    background: #FFF;
    border: none;
    padding: .25rem .5rem;
}

.popup-bottom .setting-menus a {
    display: block;
    padding: .5rem 0;
    margin: .5rem 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.popup-bottom .sosmed-menus a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    margin: .5rem;
}

.apps-container.member .apps-body .apps-tags {
    padding: 1rem 1rem;
}

.apps-container.member .apps-body .apps-tags .title h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.apps-container.member .apps-body .apps-tags .tags-list {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    overflow-y: hidden;
    scrollbar-width: none;

    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.apps-container.member .apps-body .apps-tags .tags-list .tag a {
    border: 1px solid #FFFFFF;

    text-decoration: none;
    display: inline-block;
    padding: .25rem .5rem;
    margin-right: .5rem;

    color: #FFFFFF;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.apps-container.member .apps-body .apps-tags .tags-list .tag.active a {
    background: #2E8AF7;
    border: 1px solid #2E8AF7;
    font-weight: bold;
}

.apps-member .app-notif .list-notif {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.apps-member .app-notif .list-notif .title-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    text-transform: uppercase;
    margin-bottom: 1rem;

    color: #727477;
}

.apps-member .app-notif .list-notif .massage {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.apps-member .app-notif .list-notif .massage .icon {
    height: 35px;
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #F72E8E;
    font-size: 14px;
}

.apps-member .app-notif .list-notif .massage .icon.blue {
    color: #2E8AF7;
}

.apps-member .app-notif .list-notif .massage .icon.grey {
    color: #727477;
}

.apps-member .app-notif .list-notif .massage .info {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.apps-member .app-notif .list-notif .massage .info span.matter {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;

    color: #000000;
}

.apps-member .app-notif .list-notif .massage .info span.matter .users {
    font-weight: 700;
}

.apps-member .app-notif .list-notif .massage .info span.time {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #727477;
}

/* Profile setting */
.apps-member .banner-profile {
    height: 160px;
    background-color: rgba(173, 173, 173, 0.3);

    position: relative;
}

.apps-member .banner-profile .changes {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.apps-member .banner-profile .changes label {
    cursor: pointer;
}

.apps-member .title-apps h4 {
    font-weight: 700;
    font-size: 15px;

    color: #FFFFFF;
}

.apps-member .profile .img-profile {
    position: absolute;
    width: 100%;
    height: 125px;
    top: -75px;
    display: flex;
    justify-content: center;
}

.apps-member .profile .img-profile .img {
    position: absolute;

    width: 125px;
    height: 125px;
    top: 0;

    background: #181A1C;

    z-index: 2;
}

.apps-member .profile .img-profile .img::after {
    position: absolute;
    content: '';
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;

    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    border-radius: 100px;
    z-index: 1;
}

.apps-member .profile .img-profile .img img {
    width: 125px;
    height: 125px;

    position: absolute;
    top: 0;

    z-index: 4;
}

.apps-member .profile .img-profile form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;

    background: #181A1C;
    border-radius: 100px;

    z-index: 3;
}

.apps-member .profile .img-profile form label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-left: 5px;
    margin-top: -15px;
}

.apps-member .profile .img-profile label.change-profile {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    cursor: pointer;
    text-decoration: underline;
    text-align: center;

    font-weight: 400;
    font-size: 12px;

    color: #FFF;
    margin-top: .5rem;
}

.apps-member .profile a.cancel {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 14px;

    text-decoration: none;
    text-align: right;

    margin-top: 1.25rem;
    padding: .5rem 1rem;

    color: #2E8AF7;

    z-index: 9;
}

.apps-member .profile a.btn-orange {
    font-weight: 600;
    font-size: 12px;

    text-decoration: none;
    text-align: right;

    margin-top: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 5px;

    background: #F83B00;
    color: #FFFFFF;

    z-index: 9;

}

.apps-member .biodata span.max {
    position: absolute;
    bottom: 0px;
    right: 7.5px;

    font-weight: 500;
    font-size: 7px;
    line-height: 24px;

    color: #FFFFFF;
}

.apps-member .biodata .ciak-data-input {
    position: relative;
}

.apps-member .biodata .ciak-data-input label {
    font-weight: 500;
    font-size: 14px;

    background: linear-gradient(148.17deg, #FFFFFF 1.58%, rgba(255, 255, 255, 0.85) 101.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    margin-bottom: 0;
}

.apps-member .biodata .ciak-data-input input,
.apps-member .biodata .ciak-data-input input::placeholder,
.apps-member .biodata .ciak-data-input input:focus {
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    font-weight: 400;
    font-size: 12px;

    background: transparent;
    color: #FFFFFF;
    padding: .75rem 1rem;
}

.apps-member .biodata .ciak-check span {
    font-weight: 500;
    font-size: 14px;

    background: linear-gradient(148.17deg, #FFFFFF 1.58%, rgba(255, 255, 255, 0.85) 101.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.apps-member .biodata .ciak-check p {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;

    color: #FFFFFF;
}

.apps-member .biodata .ciak-check .form-switch .form-check-input,
.apps-member .biodata .ciak-check .form-check-input:checked,
.apps-member .biodata .ciak-check .form-check-input:focus {
    font-size: 24px;
    margin: 0;
    background-image: url("../img/checkbox-ball-shadow.png");
    background-size: auto 20px;
    filter: drop-shadow(-2px 1px 6px rgba(0, 0, 0, 0.25));
}

.apps-member .biodata .ciak-data-input input:focus,
.apps-member .search .search-friend .form-control:focus,
.apps-member .select-type-price .radio-btn-type .form-check-input:focus,
.apps-member .biodata .ciak-check .form-check-input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.apps-member .biodata .ciak-check .form-check-input:checked {
    background-color: #00DD9C;
    border-color: #00DD9C;
    background-position-x: 90%;
}

.apps-member .biodata .ciak-check .form-check-input {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    background-position-x: 5%;
}

.apps-member .biodata .ciak-data-input .btn-orange {
    background: #F83B00;
    border-radius: 10px;

    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #FFFFFF;

    border: none;
    padding: 0.75rem;

    text-align: center;
    text-decoration: none;
}

.apps-member .biodata .ciak-data-input .btn-border-orange {
    position: relative;
    background: #181A1C;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;

    z-index: 3;
    text-align: center;
    text-decoration: none;

    padding: .5rem;
}

.apps-member .biodata .ciak-data-input .btn-border-orange::before {
    position: absolute;
    content: '';
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;

    z-index: -1;

    background: #F83B00;
    border-radius: 8px;
}

.apps-member .biodata .ciak-data-input .btn-border-orange::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;

    background: #181A1C;
    border-radius: 8px;
}

.apps-member .select-type-price {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;
}

.apps-member .select-type-price .radio-btn-type label {
    font-weight: 500;
    font-size: 14px;

    color: #FFFFFF;
}

.apps-member .select-type-price .radio-btn-type .form-check-input:checked[type="radio"] {
    background-image: none;
}

.apps-member .select-type-price .radio-btn-type .form-check-input {
    background-color: #181A1C;
    border-color: #F83B00;
}

.apps-member .select-type-price .radio-btn-type .form-check-input:checked {
    background-color: #F83B00;
    border-color: #F83B00;
}

.mt-on-topbar {
    margin-top: 5rem;
}

.mb-on-botbar {
    margin-bottom: 5rem;
}

.apps-member .search .search-friend {
    position: relative;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    background: #323436;
    border-radius: 32px;
}

.apps-member .search .search-friend .form-control {
    background: transparent;
    border-radius: 32px;
    border: 0;
    padding: .5rem 1rem;
    color: #FFF;
}

.apps-member .search .search-friend .form-control::placeholder {
    color: #ECEBED;
}

.apps-member .search .search-friend .icon-search-absolute {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECEBED;
}

.apps-member .btn-fixed-bottom {
    background: #181A1C;
    position: fixed;
    bottom: 0;
}

.apps-member .list-people {
    flex: 1 1 auto;
}

.apps-member .list-people .people {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #323436;
}

.apps-member .list-people .people img {
    height: 50px;
    width: 50px;
}

.apps-member .list-people .people .names {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ECEBED;
}

.apps-member .list-people .people .btn-orange {
    font-weight: 400;
    font-size: 10px;
}

.apps-member .list-people .people .btn-orange.active {
    background: #323436;
}



@media (max-width: 320px) {
    .apps-container.auth .apps-body .apps-auth .copyright-form {
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .apps-topbar .apps-auth a img {
        height: 35px;
    }

    .apps-topbar .apps-auth .logo-top img {
        height: 75px;
    }

    .apps-topbar .apps-auth .logo-top span.title {
        font-size: 18px;
    }

    .mode-apps {
        height: 35px;
    }

    .apps-topbar .apps-auth .mode-apps input {
        width: 75px;
        height: 25px;
    }

    .apps-container.auth .apps-body .apps-auth .logo img {
        height: 150px;
    }

    .apps-container.auth .apps-body .apps-auth .apps-list-btn a,
    .apps-container.auth .apps-body .apps-auth .apps-list-btn button {
        padding: .5rem 2rem;
    }

    .apps-container.auth .apps-body .apps-auth .logo span,
    .apps-container.auth .apps-body .apps-auth .form-login label,
    .apps-container.auth .apps-body .apps-auth .form-login input,
    .apps-container.auth .apps-body .apps-auth .form-login input:focus,
    .apps-container.auth .apps-body .apps-auth .form-login input::placeholder,
    .apps-container.auth .apps-body .apps-auth .form-login .foget-pass a,
    .apps-container.auth .apps-body .apps-auth .form-login .noted-info span,
    .apps-container.auth .apps-body .apps-auth .form-login .noted-info span a {
        font-size: 14px;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .apps-topbar .apps-auth .mode-apps input {
        width: 100px;
        height: 35px;
    }

    .mode-apps {
        height: 45px;
    }

    .apps-container.auth .apps-body .apps-auth .logo span,
    .apps-container.auth .apps-body .apps-auth .form-login label,
    .apps-container.auth .apps-body .apps-auth .form-login .foget-pass a,
    .apps-container.auth .apps-body .apps-auth .form-login .noted-info span,
    .apps-container.auth .apps-body .apps-auth .form-login .noted-info span a,
    .apps-container.auth .apps-body .apps-auth .apps-list-btn a,
    .apps-container.auth .apps-body .apps-auth .apps-list-btn button,
    .apps-container.auth .apps-body .apps-auth .form-login input,
    .apps-container.auth .apps-body .apps-auth .form-login input:focus,
    .apps-container.auth .apps-body .apps-auth .form-login input::placeholder,
    .apps-container.auth .apps-body .apps-auth .logo p.info,
    .apps-container.auth .apps-body .apps-auth .copyright-form span.powered,
    .apps-container.auth .apps-body .apps-auth .copyright-form span.mif,
    .apps-container.auth .apps-body .apps-auth .form-login .agree label {
        font-size: 18px;
    }

    .apps-container.auth .apps-body .apps-auth .copyright-form img.mif {
        height: 50px;
    }
}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}


#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 26, 28, 1);
}