*:focus {
    outline: none;
}

.apps-container {
    margin: auto;

    height: 100%;
    min-height: 100vh;
}

.apps-container.dark {}

.apps-container.auth {
    background: linear-gradient(90deg, #EFF5FF 0%, #D9F3FF 100%);
}

.apps-container.auth.dark {
    background: linear-gradient(90deg, #00040B 0%, #1A1B1C 100%);
}

.apps-container.member {
    background: #FFFFFF;
}

.apps-container.member.dark {
    background: #181A1C;
}

.apps {
    height: 100%;
}

.apps-login {
    max-width: 768px;
    margin: 0 auto;
}

.apps-topbar .apps-login {
    margin: auto;
    padding: 1rem;
}

.apps-topbar .apps-login a img {
    height: 50px;
}

.apps-topbar .apps-login .link-back a img {
    height: 35px;
}

.apps-topbar .apps-login .logo-top {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.apps-topbar .apps-login .logo-top img {
    height: 100px;
}

.apps-topbar .apps-login .logo-top span.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.apps-topbar .apps-login .logo-top span.title.dark {
    color: #FFF;
}

.mode-apps {
    width: auto;
    height: 60px;
    padding: 5px;
}

.mode-apps.light {
    background: url(../img/sky.png);
    background-size: 100% 100%;
    background-position: bottom center;
}

.mode-apps.dark {
    background: url(../img/sky-dark.png);
    background-size: 100% 100%;
    background-position: bottom center;
}

.apps-topbar .apps-login .mode-apps input {
    width: 125px;
    height: 50px;
    border-radius: 100px;
    border: none;
    margin: 0;
    padding: 0;

    background-color: transparent !important;
    background: url(../img/moon.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
}

.apps-topbar .apps-login .mode-apps input:checked {
    background: url(../img/sun.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
}

.apps-body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.apps-body .bg-cricle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 768px;
    z-index: 1;
}

.apps-body .bg-cricle-bot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    z-index: 1;
}

.apps-body .apps-login {
    z-index: 2;
}

.apps-body .apps-login .logo {
    text-align: center;
}

.apps-body .apps-login .logo img {
    height: 150px;
}

.apps-body .apps-login .notif-success {
    padding: 2rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.apps-body .apps-login .notif-success {
    border-top: 1px solid #FFDDBD;
    border-bottom: 1px solid #FFDDBD;
}

.apps-body .apps-login .notif-success img {
    position: relative;
    height: 150px;
    z-index: 1;
}

.apps-body .apps-login .notif-success .img-notif {
    position: relative;
    height: auto;
}

.apps-body .apps-login .notif-success span.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    padding: 1rem;
    /* identical to box height, or 80% */


    /* ORANGE */

    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.apps-body .apps-login .notif-success .img-notif .blur {
    position: absolute;
    height: 250px;
    width: 100%;
    background: rgba(247, 118, 46, 0.54);
    filter: blur(65px);
    border-radius: 231.5px;
}

.apps-body .apps-login .notif-success .message {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* or 89% */

    text-align: center;
    margin: 2rem 0;
    padding: 1rem 2rem;
}

.apps-body .apps-login .notif-success .message.bg-message {
    background: rgba(247, 94, 46, 0.17);
    border-radius: 15px;
}

.apps-body .apps-login .notif-success .message p {
    color: #000000;
    margin: 0;
}

.apps-body .apps-login .notif-success .message.dark p {
    color: #FFF;
}

.apps-body .apps-login .logo p.info {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: start;

    color: #000000;
}

.apps-body .apps-login .logo p.info.dark {
    color: #FFFFFF;
}

.apps-body .apps-login .apps-list-btn a,
.apps-body .apps-login .apps-list-btn button {
    margin: .5rem 0;
    padding: .65rem 3rem;
    text-decoration: none;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    box-shadow: 0px 4px 7px rgba(69, 146, 218, 0.25);
    border: 2px solid #F83B00;
    background: transparent;
    color: #F83B00;
}

.apps-body .apps-login .apps-list-btn a.btn-ciak-o,
.apps-body .apps-login .apps-list-btn button.btn-ciak-o {
    color: #FFF;
    border: 2px solid #F83B00;
    background: #F83B00;
}

.apps-body .apps-login .apps-list-btn a.btn-ciak-o.bg-gardien,
.apps-body .apps-login .apps-list-btn button.btn-ciak-o.bg-gardien {
    color: #000;
    border: none;
    background: linear-gradient(90deg, #F83B00 47.56%, #F8996A 102.84%);
}

.apps-body .apps-login .form-login label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.apps-body .apps-login .form-login label.dark {
    color: #FFF;
}

.apps-body .apps-login .form-login input,
.apps-body .apps-login .form-login input:focus,
.apps-body .apps-login .form-login input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    border: none;

    color: #595959;
}

.apps-body .apps-login .form-login input.dark,
.apps-body .apps-login .form-login input.dark:focus {
    color: #FFF;
    background: rgba(255, 255, 255, 0.56);
}

.apps-body .apps-login .form-login input.dark::placeholder {
    color: #FFF;
}

.apps-body .apps-login .form-login .foget-pass a {
    text-decoration: none;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.apps-body .apps-login .form-login .foget-pass a.dark {
    color: #FFF;
}

.apps-body .apps-login .form-login .noted-info span {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.apps-body .apps-login .form-login .noted-info span.dark {
    color: #FFF;
}

.apps-body .apps-login .form-login .noted-info span a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F83B00;
}

.apps-body .apps-login .formbox-grey {
    background: linear-gradient(116.41deg, rgba(171, 171, 171, 0.44) -0.2%, rgba(108, 108, 108, 0) 122.69%);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}

.apps-body .apps-login .formbox-grey.dark {
    background: linear-gradient(116.41deg, rgba(255, 255, 255, 0.44) -0.2%, rgba(255, 255, 255, 0) 122.69%);
    backdrop-filter: blur(2px);
    border-radius: 12px;
}


.apps-body .apps-login .formbox-grey label.dark {
    color: #000;
}

.apps-body .apps-login .form-icon-left {
    padding: .5rem .5rem;
    background: rgba(255, 255, 255, 0.6);
}

.apps-body .apps-login .form-icon-left.dark {
    background: #000000;
}

.apps-body .apps-login .form-icon-left span,
.apps-body .apps-login .form-icon-left input {
    background-color: transparent !important;
    border: none;
    color: #BABABA;
}

.apps-body .apps-login .form-icon-left span svg {
    height: 20px;
    fill: #BABABA;
}

.apps-body .apps-login .copyright-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.apps-body .apps-login .copyright-form span.powered {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;

    color: #000000;
}

.apps-body .apps-login .copyright-form span.powered.dark {
    color: #FFFFFF;
}

.apps-body .apps-login .copyright-form img.mif {
    height: 35px;
}

.apps-body .apps-login .copyright-form span.mif {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    color: #FDC80B;
}

.apps-body .apps-login .form-login .agree label {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;

    color: #000000;
}

.apps-body .apps-login .form-login .agree label.dark {
    color: #FFFFFF;
}

.apps-body .apps-login .form-login .agree input {
    background-color: #000000;
    /* background: url(../img/moon.png); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
}

.apps-body .apps-login .form-login .agree input.dark {
    background-color: rgba(255, 255, 255, 0.8);
}


.apps-body .apps-login .form-login .agree input:checked {
    background-color: #F83B00;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
}

@media (max-width: 320px) {
    .apps-body .apps-login .copyright-form {
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .apps-topbar .apps-login a img {
        height: 35px;
    }

    .apps-topbar .apps-login .logo-top img {
        height: 75px;
    }

    .apps-topbar .apps-login .logo-top span.title {
        font-size: 18px;
    }

    .mode-apps {
        height: 35px;
    }

    .apps-topbar .apps-login .mode-apps input {
        width: 75px;
        height: 25px;
    }

    .apps-body .apps-login .logo img {
        height: 150px;
    }

    .apps-body .apps-login .apps-list-btn a,
    .apps-body .apps-login .apps-list-btn button {
        padding: .5rem 2rem;
    }

    .apps-body .apps-login .form-login label {
        font-size: 14px;
    }

    .apps-body .apps-login .form-login input,
    .apps-body .apps-login .form-login input:focus,
    .apps-body .apps-login .form-login input::placeholder {
        font-size: 14px;
    }

    .apps-body .apps-login .form-login .foget-pass a {
        font-size: 14px;
    }

    .apps-body .apps-login .form-login .noted-info span {
        font-size: 14px;
    }

    .apps-body .apps-login .form-login .noted-info span a {
        font-size: 14px;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}