#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 26, 28, 1);
}

/* Font Error / Harus di Header HTML */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); */
/* font-family: 'DM Serif Display', serif; */
/* Font Error */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/* font-family: 'Koulen', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
/* font-family: 'Inter',
sans-serif; */

.ciak-navbar {
    background: #000000;
    box-shadow: 0px 1px 5px #ffffff;
}

.ciak-navbar .brand img {
    height: 75px;
    width: auto;
}

.ciak-navbar .brand span.title {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 16px;
    text-transform: uppercase;

    background: linear-gradient(90deg,
            #f80000 0%,
            #f87700 22.5%,
            #4ff301 44.46%,
            #2d8bf8 69.63%,
            #f86aae 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.ciak-navbar .menus a.link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.2rem 1rem;

    font-weight: 500;
    font-size: 20px;
    line-height: 16px;

    color: #ffffff;
}

.ciak-navbar .menus a.link.button-login {
    background: linear-gradient(180deg, #edc538 0%, #ed3838 100%);
    border-radius: 10px;
    display: inline-flex;
    padding: 1px;
}

.ciak-navbar .menus a.link.button-login .black {
    display: inline-block;
    background: #000000;
    border-radius: 10px;
    width: 100%;
    padding: 0.75rem 1.5rem;
}

.ciak-navbar .menus a.link.button-login .text {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;

    border-radius: 10px;

    background: linear-gradient(180deg, #edc538 0%, #ed3838 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.ciak {
    background-color: #000000;
    min-height: 100vh;
}

.left-border {
    background-image: url(../img/film-1.png);
    background-size: 100% auto;

    height: 100%;
    width: 70px;
    min-height: 100vh;

    position: absolute;
    left: 0;
    top: 7rem;
}

.right-border {
    background-image: url(../img/film-1.png);
    background-size: 100% auto;

    height: 100%;
    width: 70px;
    min-height: 100vh;

    position: absolute;
    right: 0;
    top: 7rem;
}

.header {
    padding: 7rem 0;
}

/* p {
    animation: color-change 1s infinite;
} */



.header .title {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 70px;
    font-family: 'DM Serif Display', serif;
    line-height: 110%;
    text-transform: uppercase;

    background: linear-gradient(90deg,
            #f80000 0%,
            #f87700 22.5%,
            #4ff301 44.46%,
            #2d8bf8 69.63%,
            #f86aae 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* animation: color-change 10s infinite; */
    text-shadow: 3px 3px 8px rgba(129, 88, 82, 0.25);
}

@keyframes color-change {
    0% {
        background: linear-gradient(90deg,
                #f80000 0%,
                #f87700 22.5%,
                #4ff301 44.46%,
                #2d8bf8 69.63%,
                #f86aae 96.41%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(90deg,
                #f80000 22.5%,
                #f87700 44.46%,
                #4ff301 69.63%,
                #2d8bf8 96.41%,
                #f86aae 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(90deg,
                #f80000 44.46%,
                #f87700 69.63%,
                #4ff301 96.41%,
                #2d8bf8 0%,
                #f86aae 22.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.header .title>.ciakname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100% !important;
}

.header .title>.ciakname span {
    background: linear-gradient(90deg,
            #f80000 0%,
            #f87700 22.5%,
            #4ff301 44.46%,
            #2d8bf8 69.63%,
            #f86aae 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header .title .img-title {
    height: 65px;
}

.header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    margin: 2rem 0;

    color: #ffffff;
}

.header .list-header {
    padding: 0;
}

.header .list-header li {
    display: inline-block;
    background-image: url(../img/list-rock.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto 20px;
    padding-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    color: #ffffff;
}

.btn-register {
    text-decoration: none;

    padding: .75rem 3rem;
    background: linear-gradient(144.06deg, #40454a 16.19%, #202329 82.15%);

    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623),
        4px 4px 12px rgba(0, 0, 0, 0.301983);
    border-radius: 20px;
}

.btn-register .text-rainbow {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    /* Linear */

    background: linear-gradient(90deg,
            #f80000 0%,
            #f87700 22.5%,
            #4ff301 44.46%,
            #2d8bf8 69.63%,
            #f86aae 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    display: inline-block;
}

.content .ciak-silver {
    background: #292929;
    box-shadow: 16px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 2rem;
}

.content .ciak-rainbow {
    background: linear-gradient(81.22deg, #F80000 -17.2%, #F87700 9.76%, #4FF301 36.08%, #2D8BF8 66.26%, #F86AAE 98.36%);
    box-shadow: 2px 2px 20px rgba(152, 152, 152, 0.5);
    border-radius: 20px;
    padding: 2rem 5rem;
}

.content .ciak-silver h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 45px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 3px 3px 8px rgba(129, 88, 82, 0.25);
}

.content .ciak-rainbow h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;

    color: #000000;

    text-shadow: 3px 3px 8px rgba(129, 88, 82, 0.25);
}

.content .ciak-silver h2.rainbow {
    font-weight: 700;
    font-size: 45px;
    text-align: center;

    background: linear-gradient(90deg,
            #f80000 0%,
            #f87700 22.5%,
            #4ff301 44.46%,
            #2d8bf8 69.63%,
            #f86aae 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 3px 3px 8px rgba(129, 88, 82, 0.25);
}

.content .ciak-silver span.text-pink,
.content .ciak-silver p.text-ciak-silver {
    margin: 2rem 0;
    display: block;
    text-align: center;
}

.content .ciak-silver p.text-ciak-silver {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #FFFFFF;
}

.content .ciak-rainbow p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

.content .ciak-silver span.text-pink {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #FF97FB;
}

.content .ciak-silver .list {
    padding: .5rem;
}

.content .ciak-silver .rainbow-border {
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    padding: 3px;
    border-radius: 35px;
    min-height: 350px;
}

.content .ciak-silver .rainbow-border .bg-white {
    background: linear-gradient(148.17deg, #FFFFFF 1.58%, rgba(255, 255, 255, 0.85) 101.16%);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 350px;
}

.content .ciak-silver .rainbow-border p,
.content .ciak-silver .rainbow-border span.title {
    display: block;
    text-align: center;
}

.content .ciak-silver .rainbow-border span.title {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;

    color: #000000;
    margin-bottom: 1rem;
}

.content .ciak-silver .rainbow-border p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.content h2.rainbow {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 45px;
    /* line-height: 30px; */
    text-align: center;
    display: inline-block;

    padding-bottom: 1px;

    background: linear-gradient(90deg, #F80000 1.27%, #F87700 18.41%, #4FF301 35.14%, #2D8BF8 54.32%, #F86AAE 74.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 3px 3px 8px rgba(129, 88, 82, 0.25);
}

.content h2,
.content .btn-learn,
.content p {
    margin: 1rem 0;
    display: inline-block;
}

.content h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 3px 3px 8px rgba(129, 88, 82, 0.25);
}

.content h3.green,
.content .btn-learn.green {
    color: #00F80A;
}

.content h3.blue,
.content .btn-learn.blue {
    color: #00F8E9;
}

.content h3.pink,
.content .btn-learn.pink {
    color: #FF068D;
}

.content h3.orange,
.content .btn-learn.orange {
    color: #F87700;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.content p.small {
    font-weight: 400;
    font-size: 14px;

    color: #FFFFFF;
}

.content .btn-learn {
    background: linear-gradient(144.06deg, #40454A 16.19%, #202329 82.15%);
    /* Drop Shadow */

    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(0, 0, 0, 0.301983);
    border-radius: 20px;
    padding: .75rem 1.5rem;

    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    color: #fff;
}

.content .border-rainbow {
    position: relative;
    border: 2px solid transparent;
    border-radius: 20px;
    background: #000000;
    background-clip: padding-box;
}

.content .border-rainbow p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
}

.content .border-rainbow p>span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #00D1FF;
}

.content .border-rainbow::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    content: '';
    z-index: -1;
    border-radius: 20px;
}

.text-purple {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;

    color: #FF03B8;
}

.content .ciak-silver .list-check ul {
    padding: 0;
}

.content .ciak-silver .list-check ul li {
    display: inline-block;
    background-image: url(../img/done_ring_round.png);
    background-position: top left;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-size: auto 25px;
    padding-left: 2rem;
    margin-bottom: 1rem;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;

    color: #FFFFFF;
}

.content .ciak-silver .border-rainbow {
    position: relative;
    border: 2px solid transparent;
    border-radius: 20px;
    background: linear-gradient(144.06deg, #40454A 16.19%, #202329 82.15%);
    background-clip: border-box;
    background-clip: padding-box;

    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(0, 0, 0, 0.301983);
    min-height: 200px;
}

.content .ciak-silver .border-rainbow::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    content: '';
    z-index: -1;
    border-radius: 20px;
}

.content .ciak-silver span.title-step {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
    display: inline-block;
}

.content .ciak-silver .border-rainbow p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.content .btn-list {
    text-decoration: none;
    position: relative;
    background: linear-gradient(144.06deg, #40454A 16.19%, #202329 82.15%);
    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(0, 0, 0, 0.301983);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.content .btn-list::after {
    border-radius: 20px;
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
}

.content .btn-list span.names {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;

    color: #FFFFFF;
}

.content .btn-list span.more {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #4FF301;
}

.footer {
    position: relative;
    background: #000000;
    filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.75));
    /* box-shadow: 4px -4px 4px 4px #FFFFFF; */

    padding: 2rem;
}

.footer .icon-sosmed a {
    font-size: 20px;
    margin: 1rem;
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.footer .apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .apps .store {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background: #000000;
    position: relative;
    padding: .25rem .5rem;
    margin: 1rem;
}

.footer .apps .store::after {
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);

    position: absolute;
    content: '';
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;

    z-index: -1;
}

.footer .apps .store .icon {
    margin: 0 .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #FFFFFF;
}

.footer .apps .store .names span {
    color: #FFFFFF;
    font-size: 12px;
}

.footer .apps .store .names h4 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 1px;

    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.empowered {
    display: flex;
    flex-direction: column;
}

.empowered span {
    font-weight: 400;
    font-size: 22px;
    font-family: 'Koulen', cursive;

    color: #FFFFFF;
}

.empowered a {
    text-decoration: none;
}

.empowered a img {
    height: 75px;
}

/* Link atau Halaman diluar Landingpage/Utama */
.btn-back {
    position: absolute;
    left: 0;
    top: 0;

    height: 50px;
    width: 50px;
}

.btn-back a {
    text-decoration: none;
    height: 50px;
    width: 50px;

    background: rgba(180, 180, 180, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.btn-back a i {
    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.content .box-title {
    background: linear-gradient(144.06deg, rgba(64, 69, 74, .45) 16.19%, rgba(32, 35, 41, .45) 82.15%);
    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(22, 22, 22, 0.55);
    border-radius: 20px;

    text-align: center;
    padding: .75rem;
}

.content .box-title h2,
.content .link-title h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 35px;

    color: #FFFFFF;
}

.content .content-wallet h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;

    color: #FFFFFF;
}

.content .content-wallet .step-payment {
    text-align: center;
}

.content .content-wallet .step-payment span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 22px;

    margin: 1rem 0;
    display: inline-block;

    color: #FFFFFF;
}

.content .content-wallet .step-payment .box-payment {
    font-family: 'Inter', sans-serif;
    text-align: center;

    background: linear-gradient(90deg, #00040B 0%, #1A1B1C 100%);
    border: 4px solid #BC0FE8;
    border-radius: 14px;
    flex: 1 1 auto;
    padding: 1rem;
}

.content .content-wallet .step-payment .box-rainbow {
    font-family: 'Inter', sans-serif;
    text-align: center;

    background: linear-gradient(144.06deg, #40454A 16.19%, #202329 82.15%);
    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(0, 0, 0, 0.301983);
    border-radius: 20px;
    flex: 1 1 auto;
    padding: 1rem;

    position: relative;
}

.content .content-wallet .step-payment .box-rainbow::after {
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: -1;

    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    border-radius: 20px;
}

.content .content-wallet .step-payment .box-payment p {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.content .content-wallet .step-payment .box-rainbow p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.content .content-wallet .accordion,
.content .content-wallet .accordion .accordion-item .accordion-header .accordion-button {
    background: none;
}

.content .content-wallet .accordion .accordion-item,
.content .content-wallet .accordion .accordion-item .accordion-header {
    width: 100%;
    border: 0;
}

.content .content-wallet .accordion .accordion-item .accordion-header .accordion-button::after {
    background-image: url(../img/arrow-bot.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin: 0 1rem;
}

.content .content-wallet .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.content .content-wallet .accordion .accordion-item .accordion-header h4 {
    background: linear-gradient(90.05deg, #F80000 4.98%, #F87700 22.22%, #4FF301 39.04%, #2D8BF8 58.33%, #F86AAE 78.84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: center;

    margin: auto;
}

.content .content-wallet .accordion .accordion-item {
    margin-bottom: 2rem;
    position: relative;

    background: linear-gradient(144.06deg, #40454A 16.19%, #202329 82.15%);
    /* Drop Shadow */

    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(0, 0, 0, 0.301983);
    border-radius: 20px;
}

.content .content-wallet .accordion .accordion-item::after {
    position: absolute;
    content: '';
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;

    background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
    border-radius: 20px;
    z-index: -1;
}

.content .content-wallet .accordion .accordion-item .accordion-body p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: block;

    color: #FAFAFA;
}

.content .content-wallet .accordion .accordion-item .accordion-body ol li,
.content .content-wallet .accordion .accordion-item .accordion-body ul li {
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;

    color: #FFFFFF;
}

.content .content-wallet .accordion .accordion-item .accordion-body ol li img {
    display: block;
    height: 50px;
}

.content .content-wallet .accordion .accordion-item .accordion-body .step-payment .box-payment p {
    font-size: 22px;
}

.content .content-wallet .box-guide-list {
    background: linear-gradient(144.06deg, #40454A 16.19%, #202329 82.15%);
    box-shadow: -4px -4px 12px rgba(122, 134, 151, 0.201623), 4px 4px 12px rgba(22, 22, 22, 0.55);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem 5rem;

    text-decoration: none;
}

.content .content-wallet .box-guide-list h3 {
    margin-bottom: 0;

    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 35px;
    text-align: start;
}

.content .content-wallet .box-guide-list i {
    color: #F83B00;
    font-size: 35px;
    margin-left: .5rem;
}

.content .content-wallet h3.rainbow {
    background: linear-gradient(90deg, #F80000 1.27%, #F87700 18.41%, #4FF301 35.14%, #2D8BF8 54.32%, #F86AAE 74.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    display: inline-block;

    font-weight: 700;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.content .content-wallet .guides p span {
    font-family: 'Roboto', sans-serif;

    font-size: 29px;
    line-height: 27px;

    display: block;
    margin-bottom: 2rem;
}

.content .content-wallet .guides.post p span {
    font-family: 'Roboto', sans-serif;

    font-size: 30px;
    line-height: 27px;

    color: #00D1FF;
    display: inline-block;

    margin-bottom: 2rem;
}

.content .content-wallet .guides p {
    font-family: 'Poppins', sans-serif;

    font-weight: 400;
    font-size: 25px;
    line-height: 34px;

    color: #FFFFFF;
}

.content .content-wallet .guides ol li,
.content .content-wallet .guides ul li {
    font-family: 'Poppins', sans-serif;

    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 2rem;

    color: #FFFFFF;
}

.content .content-wallet .guides ol li {
    margin-bottom: 1rem;
}

.content .content-wallet .guides p spani.gold {
    color: #FDC80B;
}

.content .content-wallet .guides.box-important {
    border: 5px solid #F80000;
    padding: 2rem;
}

.text-red {
    color: #F80606 !important;
}

.text-purple {
    color: #F86AAE !important;
}

.text-purple-dark {
    color: #FF00F5 !important;
}

.text-green {
    color: #0BE2A3 !important;
}

@media (max-width: 1399px) {

    .content .content-wallet .guides.post p span,
    .content .content-wallet .guides p span {
        font-size: 24px;
    }

    .content .content-wallet h3.rainbow,
    .content .content-wallet .box-guide-list h3,
    .content .box-title h2,
    .content .link-title h2 {
        font-size: 32px;
    }

    .content .content-wallet .accordion .accordion-item .accordion-header h4,
    .content .content-wallet h3 {
        font-size: 28px;
    }

    .content .content-wallet .accordion .accordion-item .accordion-body ol li,
    .content .content-wallet .accordion .accordion-item .accordion-body ul li,
    .content .content-wallet .accordion .accordion-item .accordion-body p,
    .content .content-wallet .guides p,
    .content .content-wallet .guides ol li,
    .content .content-wallet .guides ul li,
    .content .content-wallet .step-payment span,
    .content .content-wallet .step-payment .box-payment p {
        font-size: 18px;
    }

    .content .content-wallet .step-payment .box-rainbow p,
    .content .content-wallet .accordion .accordion-item .accordion-body .step-payment .box-payment p {
        font-size: 16px;
    }

}

@media (max-width: 991px) {
    .content .content-wallet .box-guide-list {
        padding: 2rem 3rem;
    }

    .content .content-wallet h3.rainbow,
    .content .content-wallet .accordion .accordion-item .accordion-header h4,
    .content .content-wallet h3 {
        font-size: 24px;
    }

    .right-border,
    .left-border {
        width: 50px;
    }

    .header .title {
        font-size: 64px;
    }

    .header p {
        font-size: 20px;
    }

    .btn-register .text-rainbow {
        font-size: 20px;
    }

    .content h2.rainbow,
    .content .ciak-silver h2,
    .content .ciak-rainbow h2 {
        font-size: 42px;
    }

    .content .ciak-silver p.text-ciak-silver,
    .content .ciak-rainbow p {
        font-size: 20px;
    }

    .content .btn-list span.names {
        font-size: 18px;
    }

    .content .btn-list span.more {
        font-size: 18px;
    }

    .content .ciak-silver .list-check ul li {
        font-size: 18px;
    }

    .content h3 {
        font-size: 36px;
    }

    .content p {
        font-size: 18px;
    }

    .content .border-rainbow p {
        font-size: 20px;
    }

    .content .border-rainbow p>span {
        font-size: 24px;
    }

    .content .ciak-rainbow {
        padding: 2rem 3rem;
    }

    .empowered {
        align-items: center;
        margin-bottom: 1rem;
    }

    .mobile-menus {
        position: absolute;
        background: #000;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .ciak-navbar .mobile-menus a.link {
        margin: 2rem 0;
    }

    .ciak-navbar .mobile-menus .btn-close {
        margin-left: auto;
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 36px;

        background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        opacity: 1;
        display: inherit;
        padding: .5rem;

    }

    .ciak-navbar .btn-menus {
        font-size: 36px;
        border: none;

        background: linear-gradient(90deg, #F80000 0%, #F87700 22.5%, #4FF301 44.46%, #2D8BF8 69.63%, #F86AAE 96.41%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        display: inherit;
        padding: .5rem;
    }
}

@media (max-width: 767px) {

    .right-border,
    .left-border {
        width: 35px;
        margin: 0 .5rem;
    }
}

@media (max-width: 575px) {

    .content .content-wallet h3.rainbow,
    .content .content-wallet .box-guide-list h3,
    .content .box-title h2,
    .content .link-title h2 {
        font-size: 28px;
    }

    .content .content-wallet .accordion .accordion-item .accordion-header h4,
    .content .content-wallet h3 {
        font-size: 18px;
    }

    .btn-back {
        margin: 1rem;
    }

    .header {
        padding-bottom: 4rem;
    }

    .header .title {
        font-size: 48px;
    }

    .header p,
    .btn-register .text-rainbow {
        font-size: 18px;
    }

    .content h2.rainbow,
    .content .ciak-silver h2,
    .content .ciak-rainbow h2 {
        font-size: 36px;
    }

    .content h3 {
        font-size: 32px;
    }

    .content .border-rainbow p {
        font-size: 18px;
    }

    .content .border-rainbow p>span {
        font-size: 20px;
    }

    .content .ciak-silver p.text-ciak-silver,
    .content .ciak-rainbow p {
        font-size: 18px;
    }

    .empowered span {
        font-size: 18px;
    }

    .empowered a img {
        height: 50px;
    }

    .footer .apps .store .names h4 {
        font-size: 20px;
    }

    .footer .apps .store .icon {
        font-size: 32px;
    }
}

@media (max-width: 500px) {

    .content .content-wallet .box-guide-list {
        padding: 2rem;
    }

    .right-border,
    .left-border {
        width: 25px;
    }

    .header .title {
        font-size: 36px;
    }

    .header .title .img-title {
        height: 35px;
    }

    .btn-register {
        margin-bottom: .5rem;
        text-align: center;
        padding: .5rem 3rem;
    }

    .header p,
    .btn-register .text-rainbow,
    .content .border-rainbow p {
        font-size: 16px;
    }

    .content h2.rainbow,
    .content .ciak-silver h2,
    .content .ciak-rainbow h2 {
        font-size: 32px;
    }

    .content .ciak-silver .list-check ul li {
        font-size: 16px;
    }

    .content h3 {
        font-size: 28px;
    }

    .content p,
    .content .ciak-silver p.text-ciak-silver,
    .content .ciak-rainbow p {
        font-size: 16px;
    }

    .content p.small {
        font-size: 12px;
    }

    .content .border-rainbow p>span {
        font-size: 18px;
    }

    .content .ciak-rainbow {
        padding: 2rem 2rem;
    }

    .apps {
        flex-direction: column !important;
    }
}